	@font-face{font-family: FZLTXHJW; src: url(FZLTXHJW.TTF);}
body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, button,textarea, p, blockquote, th, td { margin: 0;padding: 0;color:#000000;font-family: "FZLTXHJW";}
/*header*/
.header_on{
	height: 49px;
	background-color: #000000;
	min-width: 1240px;
}
.header{
	height: 49px;
	width: 1240px;
	margin: 0 auto;
	position: relative;
}

.miui_logo{
	position: absolute;
	width: 46px;
	height: 17px;
	text-indent: -9999px;
	background-image: url(../images/index_0.png);
	top: 16px;
	left: 0;
}
.miui_menu{
	position: absolute;
	top: 9px;
	right: 0;
	width: 600px;
	height: 30px;
	text-align: right;
	line-height: 30px;
}
.miui_menu a{
	color: #dddddd;
	margin-left: 30px;
	font-size: 14px;
}
.miui_menu a.current{
	color: #868686;
}
.miui_menu a:hover{
	color: #868686;
}


/*content*/
.content_on{
	background-color: #fafafa;
	min-width: 1240px;
}
.unlock{
	background: #398bd8 url(../images/bl_apply_1.png) no-repeat center top;
	height: 270px;
	text-align: center;
	padding-top: 380px;
	min-width: 1240px;
}
.unlock h2{
	font-size: 60px;
	color: #f3f3f3;
	line-height: 80px;
}
.unlock h3{
	font-size: 18px;
	color: #d8e3ef;
	line-height: 30px;
	margin-bottom: 30px;
}
.unlock a{
	display: block;
	width: 133px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: white;
	border: 1px solid #e3e3e3;
	margin: 0 auto;
	background-color: #63a7e3;
}

.banners{
	width: 1240px;
	margin: 0 auto;
	padding: 130px 0;
}

.banners li{
  width: 33.33%;
  text-align: center;
  float: left;
  height: 60px;
  overflow: hidden;
}
.banners li span{
	display: inline-block;
	height: 60px;
	line-height: 60px;
}
.icon{
	width: 60px;
	background: url(../images/bl_apply_0.png) no-repeat;
}
.icon_0{
	background-position: 10px -84px;
}
.icon_1{
	background-position: 0 -177px;
}
.icon_2{
	background-position: 0 -281px;
}
.word{
	text-align: left;
	padding-left: 10px;
}
.banner_li_0{
	background: url(../images/bl_apply_0.png) no-repeat right 0;
}
.banner_li_1{
	background: url(../images/bl_apply_0.png) no-repeat right 0;
}







/*footer*/
.footer_on {
	background-color: #f2f2f2;
	height: 160px;
	min-width: 1240px;
}
.footer {
	width: 1240px;
	margin: 0 auto;
	padding-top: 60px;
}
.footer_links{
	text-align: center;
	margin-bottom: 15px;
}
.footer_links li{
	display: inline-block;
	width: 110px;
	border-right: 1px solid #d9d9d9;
	line-height: 14px;
	height: 14px;
	*display:inline;
	zoom: 1;
}
.footer_links li.language_list{
	border-right: none;
	position: relative;
}
.footer_links a:hover{
	color: #f78200;
	text-decoration: underline;
}
.footer_links .language_list a:hover{
	text-decoration: none;
}
.language_list:after{
	content: "";
	display: block;
	width: 8px;
	height: 7px;
	position: absolute;
	right: 10px;
	bottom: 3px;
	z-index: 2;
	background: url(../images/index_3.png) no-repeat left bottom;
}
.footer_links li a{
	color: #858585;
	font-size: 14px;
}
.languages{
	position: absolute;
	z-index: 3;
	left: -1px;
	right: -15px;
	bottom: -13px;
	background: white url(../images/index_3.png) no-repeat 92px 138px;
	display: none;
}
.footer_links .language_list:hover .languages{
	display: block;
}
.languages a{
	display: inline-block;
	width: 110px;
	padding-right: 15px;
	padding-left: 1px;
	line-height: 40px;
	color: #8d8d8d;
	font-size: 14px;
}


.weixin{
	position: relative;
}
.weixin img{
	position: absolute;
	left: -20px;
	width: 150px;
	height: 150px;
	bottom: 20px;
	display: none;
}
.footer_links li.weixin:hover img{
	display: block;
}

.copyright {
	line-height: 20px;
	color: #c5c6c8;
	font-size: 11px;
	text-align: center;
}